[Desktop Entry]
Type=Application
Name=USBGuard Qt Applet
GenericName=USBGuard Applet
Comment=USBGuard Qt applet for interaction with the USBGuard daemon
TryExec=usbguard-applet-qt
Exec=usbguard-applet-qt
Icon=usbguard-applet-qt
Categories=System;
X-Desktop-File-Install-Version=0.3
