/libusbguard.pc
/usbguard
/usbguard-daemon
/usbguard-daemon.conf
/usbguard-dbus
/usbguard-rule-parser
Makefile
Makefile.in
.deps
.libs
libtool
configure
config/
config.log
config.status
build/
.dirstamp
.ycm_extra_conf.py
stamp-h1
test-driver
*~
*.sw[po]
*.l[oa]
*.o
aclocal.m4
autom4te.cache/
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
src/build-config.h.in.in
