[submodule "src/ThirdParty/Catch"]
	path = src/ThirdParty/Catch
	url = https://github.com/philsquared/Catch
[submodule "src/ThirdParty/PEGTL"]
	path = src/ThirdParty/PEGTL
	url = https://github.com/ColinH/PEGTL
